body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1{
    color: #FFFFFF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #4832a8;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #FFFFFF;
    font-family: 'Nunito',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

h2:2{
    color: #4832a8;
}

.contenedorSuperior{
    background-color: #4832a8;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contenedorMedio{
    margin: 100px 0;
}

.contenedorInferior{
    background-color: #4832a8;
    padding: 50px 0 20px;
}

.filaHabilidades{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.mensajeContacto{
    width: 40%;
    margin: 40px auto 60px;
}


.gatoImg {
    width: 25%;
    float: left;
    margin: 30px;
}

.escudoImg {
    width: 25%;
    float: right;
    margin: 30px;
}

.btn {
  background: #bd34d9;
  background-image: -webkit-linear-gradient(top, #bd34d9, #2980b9);
  background-image: -moz-linear-gradient(top, #bd34d9, #2980b9);
  background-image: -ms-linear-gradient(top, #bd34d9, #2980b9);
  background-image: -o-linear-gradient(top, #bd34d9, #2980b9);
  background-image: linear-gradient(to bottom, #bd34d9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #ffffff;
  font-size: 35px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
